In [3]:
SELECT name, database_id, create_date  
FROM sys.databases;  
GO

name,database_id,create_date
master,1,2003-04-08 09:13:36.390
tempdb,2,2023-11-16 09:39:31.310
model,3,2003-04-08 09:13:36.390
msdb,4,2023-09-27 12:37:14.380